Source: python-os-win
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools,
               python-all,
               python-pbr (>= 1.8),
               python-setuptools,
               python-sphinx,
               python3-all,
               python3-pbr (>= 1.8),
               python3-setuptools,
Build-Depends-Indep: python-babel (>= 1.3),
                     python-coverage,
                     python-eventlet (>= 0.18.2),
                     python-hacking,
                     python-mock (>= 1.3),
                     python-oslo.concurrency (>= 3.5.0),
                     python-oslo.config (>= 1:3.7.0),
                     python-oslo.i18n (>= 3.0.0),
                     python-oslo.log (>= 2.0.0),
                     python-oslo.service (>= 1.0.0),
                     python-oslo.utils (>= 3.5.0),
                     python-oslosphinx (>= 2.5.0),
                     python-oslotest (>= 1:1.11.0),
                     python3-babel (>= 1.3),
                     python3-eventlet (>= 0.18.2),
                     python3-mock (>= 1.3),
                     python3-oslo.concurrency (>= 3.5.0),
                     python3-oslo.config (>= 1:3.7.0),
                     python3-oslo.i18n (>= 3.0.0),
                     python3-oslo.log (>= 2.0.0),
                     python3-oslo.service (>= 1.0.0),
                     python3-oslo.utils (>= 3.5.0),
                     python3-oslotest (>= 1:1.11.0),
                     python3-subunit,
                     subunit,
                     testrepository,
Standards-Version: 3.9.7
Vcs-Browser: https://anonscm.debian.org/cgit/openstack/python-os-win.git/
Vcs-Git: https://anonscm.debian.org/git/openstack/python-os-win.git
Homepage: https://github.com/openstack/os-win

Package: python-os-win
Architecture: all
Depends: python-babel (>= 1.3),
         python-eventlet (>= 0.18.2),
         python-oslo.concurrency (>= 3.5.0),
         python-oslo.config (>= 1:3.7.0),
         python-oslo.i18n (>= 3.0.0),
         python-oslo.log (>= 2.0.0),
         python-oslo.service (>= 1.0.0),
         python-oslo.utils (>= 3.5.0),
         ${misc:Depends},
         ${python:Depends},
Suggests: python-os-win-doc,
Description: Windows / Hyper-V library for OpenStack projects - Python 2.7
 Os-win is a library that contains Windows / Hyper-V code commonly used in the
 OpenStack projects: nova, cinder, networking-hyperv. The library can be used
 in any other OpenStack projects where it is needed.
 .
 This package contains the Python 2.7 module.

Package: python3-os-win
Architecture: all
Depends: python3-babel (>= 1.3),
         python3-eventlet (>= 0.18.2),
         python3-oslo.concurrency (>= 3.5.0),
         python3-oslo.config (>= 1:3.7.0),
         python3-oslo.i18n (>= 3.0.0),
         python3-oslo.log (>= 2.0.0),
         python3-oslo.service (>= 1.0.0),
         python3-oslo.utils (>= 3.5.0),
         ${misc:Depends},
         ${python3:Depends},
Suggests: python-os-win-doc,
Description: Windows / Hyper-V library for OpenStack projects - Python 3.x
 Os-win is a library that contains Windows / Hyper-V code commonly used in the
 OpenStack projects: nova, cinder, networking-hyperv. The library can be used
 in any other OpenStack projects where it is needed.
 .
 This package contains the Python 3.x module.

Package: python-os-win-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
         ${sphinxdoc:Depends},
Description: Windows / Hyper-V library for OpenStack projects - doc
 Os-win is a library that contains Windows / Hyper-V code commonly used in the
 OpenStack projects: nova, cinder, networking-hyperv. The library can be used
 in any other OpenStack projects where it is needed.
 .
 This package contains the documentation.
